<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sankexing.mapper.FoodMapper">
	<select id="getFoodsByProvinceId" resultMap="foodResultMap" parameterType="int">
		select * from t_food where province_id = #{0} limit #{1}, #{2}
	</select>
	
	<select id="getFoodById" parameterType="Integer" resultMap="foodResultMap">
		select * from t_food where id = #{0}
	</select>
	
	<update id="updateFood" parameterType="Food">
		update t_food set
		<if test="eatNum != null">
			eat_num = #{eatNum}
		</if>
		where id = #{id}
	</update>
	
	<update id="updateEatNum" parameterType="Integer">
		update t_food set eat_num = #{0} where id = #{1}
	</update>
	
	<resultMap type="Food" id="foodResultMap">
		<id property="id" column="id" />
		<result property="name" column="name"/>
		<result property="imgUrl" column="img_url"/>
		<result property="provinceId" column="province_id"/>
		<result property="eatNum" column="eat_num"/>
	</resultMap>
</mapper>
