<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sankexing.mapper.UserMapper">
	<select id="getUserByOpenId" resultType="com.sankexing.entity.User" parameterType="String">
		select * from t_user where openId = #{openId}
	</select>
	<insert id="saveUser" parameterType="com.sankexing.entity.User" keyProperty="id" useGeneratedKeys="true">
		insert into t_user (openId, nickname, gender, avatar, taste_num) values (#{openId}, #{nickname}, #{gender}, #{avatar}, 0)
	</insert>
	<update id="updateTasteNum" parameterType="User">
		update t_user set taste_num = #{tasteNum} where openId = #{openId} 
	</update>
	
	<select id="getUserCount" resultType="int">
		select count(*) from t_user
	</select>
	<select id="getSurpassCount" resultType="int">
		select count(*) from t_user where taste_num &lt; #{0}
	</select>
</mapper>
